# DO NOT DELETE OR RENAME THIS EXAMPLE FILE
# Make a copy of this file, change its name to .env.development or .env.production
# Doc: https://docs.docker.com/compose/how-tos/environment-variables/set-environment-variables/

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi_db
DATABASE_USERNAME=strapi_user
DATABASE_PASSWORD=strapi_password

JWT_SECRET=12345
ADMIN_JWT_SECRET=12345
APP_KEYS=

# Development environment settings ############################################
# Execution environment (development, production)
NODE_ENV=development                 

# Postgres config #############################################################
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB= 

# Other configurations ########################################################
